* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto sans", sans-serif;
    max-width: 440px;
    margin: 0 auto;
}

header {
    padding-block: 10px;
    background-color: #31439B;
}

.header-main {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
    height: 60px;
    background-color:#ffffff
}

.logo {
}

.cta {
    font-size: 15px;
    width: fit-content;
    font-weight: bold;
    padding-inline: 6px;
    padding-block: 10px;
    background-color: #FA6E13;
    border: 1px solid #ffffff;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.25);
}

.cta a {
    text-decoration: none;
    color: #ffffff;
}

.hero {
    margin-block: 5px;
    background-color: #ffffff;
    background-image: url("../images/hero-bg.svg");
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 30px;
    justify-content: center;
    gap: 5px;
}

.main-copy {
    font-size:16px;
    font-weight: bold;
    width: 380px;
    text-align: center;
    padding-block: 8px;
    background-color: #022771;
    color: #ffffff;
}

.main-anime {
    width: 100%;
    height: 95px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo-light {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #022771;
    height: 70px;
}

.free-survey-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.progress {
    padding-inline:60px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #e5e5e5;
}

.progress-bar::before {
    content: "";
    display: block;
    width: 10%;
    height: 100%;
    background-color: #006DE1;
}

.main-survey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.survey-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.house-survey {
    display: flex;
    gap: 10px;
}

.back-btn {
    margin-top: 20px;
    border: none;
    background-color: unset;
}

.copylight {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #022771;
    font-size: 10px;
    width: 440px;
    position: fixed;
    bottom: 0;
}